USE [master]
GO
/****** Object:  Database [UniversityFacultyEF]    Script Date: 31.12.2020 12:40:51 ******/
CREATE DATABASE [UniversityFacultyEF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityFacultyEF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MWOJCZALSQL\MSSQL\DATA\UniversityFacultyEF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityFacultyEF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MWOJCZALSQL\MSSQL\DATA\UniversityFacultyEF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityFacultyEF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityFacultyEF]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PostCode] [nvarchar](15) NULL,
	[Street] [nvarchar](50) NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldOfStudies]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldOfStudies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatronWorkerId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.FieldOfStudies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Sindex] [int] NOT NULL,
	[FieldOfStudyId] [int] NOT NULL,
	[StudyVintageIndex] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Pesel] [nvarchar](11) NOT NULL,
	[AddressId] [int] NOT NULL,
	[ECTSDeficit] [smallint] NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[EMail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Sindex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyVintages]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyVintages](
	[VIndex] [int] NOT NULL,
	[YearPatronSIndex] [int] NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StudyVintages] PRIMARY KEY CLUSTERED 
(
	[VIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectGroups]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
	[DayOfWeek] [nvarchar](20) NOT NULL,
	[Hour] [nvarchar](6) NOT NULL,
	[StudentsNumber] [int] NOT NULL,
	[MaxStudentsNumber] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.SubjectGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FieldOfStudyId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Term] [smallint] NOT NULL,
	[ECTS] [smallint] NOT NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[WorkPlaceId] [int] NOT NULL,
	[Degree] [nvarchar](50) NULL,
	[Salary] [int] NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[EMail] [nvarchar](50) NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Workers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workplaces]    Script Date: 31.12.2020 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workplaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BaseSalary] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Workplaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Country], [City], [PostCode], [Street], [Number]) VALUES (1, N'Polska', N'Wrocław', N'56-213', N'Hallera', 5)
INSERT [dbo].[Addresses] ([Id], [Country], [City], [PostCode], [Street], [Number]) VALUES (2, N'Polska', N'Konin', N'10-432', N'Koninowa', 8)
INSERT [dbo].[Addresses] ([Id], [Country], [City], [PostCode], [Street], [Number]) VALUES (3, N'Polska', N'Lublin', N'65-212', N'Jakaśtam', 10)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[FieldOfStudies] ON 

INSERT [dbo].[FieldOfStudies] ([Id], [PatronWorkerId], [Name]) VALUES (1, 1, N'Informatyka')
INSERT [dbo].[FieldOfStudies] ([Id], [PatronWorkerId], [Name]) VALUES (2, 2, N'Automatyka i Robotyka')
INSERT [dbo].[FieldOfStudies] ([Id], [PatronWorkerId], [Name]) VALUES (3, 3, N'Elektronika')
SET IDENTITY_INSERT [dbo].[FieldOfStudies] OFF
GO
INSERT [dbo].[Students] ([Sindex], [FieldOfStudyId], [StudyVintageIndex], [FirstName], [LastName], [BirthDate], [Pesel], [AddressId], [ECTSDeficit], [PhoneNumber], [EMail]) VALUES (181302, 1, 18, N'Hanna', N'Nowak', CAST(N'1999-10-22T00:00:00.000' AS DateTime), N'99102228845', 29, 0, N'823237009', N'hanna@nowak.pl')
INSERT [dbo].[Students] ([Sindex], [FieldOfStudyId], [StudyVintageIndex], [FirstName], [LastName], [BirthDate], [Pesel], [AddressId], [ECTSDeficit], [PhoneNumber], [EMail]) VALUES (181434, 1, 18, N'Dagmara', N'Czarnecka', CAST(N'1999-11-12T00:00:00.000' AS DateTime), N'99111228345', 3, 2, N'823237389', N'dagmara@czarnecka.pl')
INSERT [dbo].[Students] ([Sindex], [FieldOfStudyId], [StudyVintageIndex], [FirstName], [LastName], [BirthDate], [Pesel], [AddressId], [ECTSDeficit], [PhoneNumber], [EMail]) VALUES (182591, 1, 18, N'Michał', N'Lewandowski', CAST(N'1999-05-05T00:00:00.000' AS DateTime), N'99050528352', 2, 0, N'823947389', N'michal@lewandowski.pl')
GO
INSERT [dbo].[StudyVintages] ([VIndex], [YearPatronSIndex], [Year]) VALUES (18, 181434, 2018)
INSERT [dbo].[StudyVintages] ([VIndex], [YearPatronSIndex], [Year]) VALUES (19, 182591, 2019)
INSERT [dbo].[StudyVintages] ([VIndex], [YearPatronSIndex], [Year]) VALUES (20, 209346, 2020)
GO
SET IDENTITY_INSERT [dbo].[SubjectGroups] ON 

INSERT [dbo].[SubjectGroups] ([Id], [SubjectId], [WorkerId], [DayOfWeek], [Hour], [StudentsNumber], [MaxStudentsNumber], [Name]) VALUES (1, 1, 1, N'Środa', N'15:10', 2, 15, N'Podstawy Programowania L')
INSERT [dbo].[SubjectGroups] ([Id], [SubjectId], [WorkerId], [DayOfWeek], [Hour], [StudentsNumber], [MaxStudentsNumber], [Name]) VALUES (2, 1, 2, N'Wtorek', N'9:15', 2, 15, N'Podstawy Programowania W')
INSERT [dbo].[SubjectGroups] ([Id], [SubjectId], [WorkerId], [DayOfWeek], [Hour], [StudentsNumber], [MaxStudentsNumber], [Name]) VALUES (3, 2, 4, N'Poniedziałek', N'13:15', 2, 15, N'Analiza Matematyczna L')
SET IDENTITY_INSERT [dbo].[SubjectGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [FieldOfStudyId], [Name], [Term], [ECTS]) VALUES (1, 1, N'Podstawy Programowania', 1, 5)
INSERT [dbo].[Subjects] ([Id], [FieldOfStudyId], [Name], [Term], [ECTS]) VALUES (2, 1, N'Analiza Matematyczna1', 1, 10)
INSERT [dbo].[Subjects] ([Id], [FieldOfStudyId], [Name], [Term], [ECTS]) VALUES (3, 1, N'Arytmetyka1', 1, 5)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([Id], [FirstName], [LastName], [BirthDate], [WorkPlaceId], [Degree], [Salary], [PhoneNumber], [EMail], [AddressId]) VALUES (1, N'Józef', N'Fajnygość', CAST(N'1969-07-11T00:00:00.000' AS DateTime), 1, N'prof. dr hab. inż.', 7200, N'923849582', N'jozef@fajnygosc.pl', 12)
INSERT [dbo].[Workers] ([Id], [FirstName], [LastName], [BirthDate], [WorkPlaceId], [Degree], [Salary], [PhoneNumber], [EMail], [AddressId]) VALUES (2, N'Marek', N'Kowalski', CAST(N'1972-05-12T00:00:00.000' AS DateTime), 1, N'Prof. dr hab. inż.', 5000, N'786392791', N'marek@kowalski.pl', 1)
INSERT [dbo].[Workers] ([Id], [FirstName], [LastName], [BirthDate], [WorkPlaceId], [Degree], [Salary], [PhoneNumber], [EMail], [AddressId]) VALUES (3, N'Andrzej', N'Nowak', CAST(N'1977-08-23T00:00:00.000' AS DateTime), 1, N'Prof. dr inż.', 4500, N'872395728', N'andrzej@nowak.pl', 7)
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
SET IDENTITY_INSERT [dbo].[Workplaces] ON 

INSERT [dbo].[Workplaces] ([Id], [Name], [BaseSalary]) VALUES (1, N'Wykładowca', 3500)
INSERT [dbo].[Workplaces] ([Id], [Name], [BaseSalary]) VALUES (2, N'Administrator sieci', 4200)
INSERT [dbo].[Workplaces] ([Id], [Name], [BaseSalary]) VALUES (3, N'Pracownik usług czystościowych', 1800)
SET IDENTITY_INSERT [dbo].[Workplaces] OFF
GO
/****** Object:  Index [IX_PatronWorkerId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_PatronWorkerId] ON [dbo].[FieldOfStudies]
(
	[PatronWorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Students]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldOfStudyId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_FieldOfStudyId] ON [dbo].[Students]
(
	[FieldOfStudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudyVintageIndex]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_StudyVintageIndex] ON [dbo].[Students]
(
	[StudyVintageIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_YearPatronSIndex]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_YearPatronSIndex] ON [dbo].[StudyVintages]
(
	[YearPatronSIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[SubjectGroups]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkerId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_WorkerId] ON [dbo].[SubjectGroups]
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldOfStudyId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_FieldOfStudyId] ON [dbo].[Subjects]
(
	[FieldOfStudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Workers]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkPlaceId]    Script Date: 31.12.2020 12:40:51 ******/
CREATE NONCLUSTERED INDEX [IX_WorkPlaceId] ON [dbo].[Workers]
(
	[WorkPlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FieldOfStudies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FieldOfStudies_dbo.Workers_PatronWorkerId] FOREIGN KEY([PatronWorkerId])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[FieldOfStudies] CHECK CONSTRAINT [FK_dbo.FieldOfStudies_dbo.Workers_PatronWorkerId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Addresses_AddressId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.FieldOfStudies_FieldOfStudyId] FOREIGN KEY([FieldOfStudyId])
REFERENCES [dbo].[FieldOfStudies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.FieldOfStudies_FieldOfStudyId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.StudyVintages_StudyVintageIndex] FOREIGN KEY([StudyVintageIndex])
REFERENCES [dbo].[StudyVintages] ([VIndex])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.StudyVintages_StudyVintageIndex]
GO
ALTER TABLE [dbo].[StudyVintages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudyVintages_dbo.Students_YearPatronSIndex] FOREIGN KEY([YearPatronSIndex])
REFERENCES [dbo].[Students] ([Sindex])
GO
ALTER TABLE [dbo].[StudyVintages] CHECK CONSTRAINT [FK_dbo.StudyVintages_dbo.Students_YearPatronSIndex]
GO
ALTER TABLE [dbo].[SubjectGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectGroups_dbo.Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectGroups] CHECK CONSTRAINT [FK_dbo.SubjectGroups_dbo.Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectGroups_dbo.Workers_WorkerId] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectGroups] CHECK CONSTRAINT [FK_dbo.SubjectGroups_dbo.Workers_WorkerId]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subjects_dbo.FieldOfStudies_FieldOfStudyId] FOREIGN KEY([FieldOfStudyId])
REFERENCES [dbo].[FieldOfStudies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_dbo.Subjects_dbo.FieldOfStudies_FieldOfStudyId]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Workers_dbo.Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_dbo.Workers_dbo.Addresses_AddressId]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Workers_dbo.Workplaces_WorkPlaceId] FOREIGN KEY([WorkPlaceId])
REFERENCES [dbo].[Workplaces] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_dbo.Workers_dbo.Workplaces_WorkPlaceId]
GO
USE [master]
GO
